# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore build output directories
/build/
/dist/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore editor-specific files
.idea/
.vscode/

# Ignore dependencies and lock files
package-lock.json
yarn.lock
